/* Minimal CSS Reset */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* General font settings */
* {
    font-family: "Segoe UI", "Trebuchet MS", "Bitstream Vera Sans", Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", "Bitstream Vera Serif", serif;
    letter-spacing: 0.15em;
}
a {
    text-decoration: underline;
}
a:link, a:visited {
    color: #333399;
}
a:hover, a:active {
    color: #0000AA;
}
div.spacer{
	clear:both;
}
/* header styles */
#hborder {
    border-bottom: 1px solid #C2CAD1; 
	background-color:#57504E;
}
#header {
    height: 30px;
    overflow: hidden;
}
#header h1 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
	color:white;
	float:left;
}

/* sidebar styles */
#sidebar {
    position: absolute;
    z-index: 10;
	overflow:hidden;
}
div.toggler:hover{
	cursor:pointer;
}
div.toggler_right{
	width:20px;
	height:40px;
	float:left;
	background-color:#C2CAD1;
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	margin-left:10px;
}
div.toggler_right:hover{
	width:30px;
	margin-left:0px;
}
div.toggler_right div.west{
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: 3px solid transparent;
	border-right: 7px solid white;
	border-bottom: 3px solid transparent;
	margin-top:16px;
	margin-left:2px;
	float:left;
}
div.toggler_right div.east{
	font-size: 0px; line-height: 0%; width: 0px;
	border-top: 3px solid transparent;
	border-left: 7px solid white;
	border-bottom: 3px solid transparent;
	margin-top:16px;
	margin-left:2px;
	float:left;
}
#sbcontent {
	position:absolute;
	margin-left:30px;
	background-color:#D3DCDE;
	border-left:1px solid #C2CAD1; 
    z-index: 10;
	width:100%;
	overflow:hidden;
}
#sbcontent div.tab_content{
	display:none;
	height:100%;
}
#sbcontent div.selected{
	display:block;
}
#sbcontent h1{
	font-weight:bold;
	text-align:center;
	font-size:1.2em;
}
#sbcontent h2{
	padding-top:5px;
	font-size:.8em;
}
#tabs{
    padding: 6px 5px 0px 0px;
	float:right;
}
#tabs li{
	float:left;
	margin-left:.1em;
	margin-right:.1em;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	background-color:#C3463A;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	list-style-type:none;
}
#tabs li.selected{
}
#tabs li:hover{
}

#tabs a{
	color:white;
	text-decoration:none;
}
#tabs a.selected{
	color:#D3DCDE;
}
#tabs a:hover{
	color:#D3DCDE;
}
#search_content{
	overflow-y:auto;
	width:319px;
}

#search_content input[type="text"]{
	margin-left:6px;
	border:1px solid black;
}
#search_content input[type="submit"]{
	border:1px solid black;
}
#ajax_loader{
}
#culture_list {
	font-size:1em;
}
#culture_list label {
	padding-left: 5px;
}
#culture_list input[type="checkbox"]{
	margin: 2px 0px 0px 5px;
}
#region_list {
	font-size:1em;
}
#region_list label {
	padding-left: 5px;
}
#region_list input[type="checkbox"]{
	margin: 2px 0px 0px 5px;
}

#site_list_content {
	padding-top:1%;
	padding-bottom:1%;
	overflow-y:auto;
	width:319px;
}
ul.site_list li{
	list-style:none;
}
ul.site_list li:hover{
	color:#23238E;
	cursor:pointer;
}
ul.site_list li.visible{
	color:#5959AB;
}
ul.site_list li.visible:hover{
	color:#23238E;
	cursor:pointer;
}
ul.site_list a.state-indicator{
	float:left;
	margin-top:1px;
	height:16px;
	width:16px;
}
div.search_box{
	display:block;
	margin-top:3px;
	width:319px;
	border-bottom:1px solid #C2CAD1;
}
div.search_box input{
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
}
#search_image_button{
	margin-top:3px;
	cursor:pointer;
	margin-bottom:3px;
}
#search_image_text{
	width:275px;
}
ul.search_results{
	width:319px;
	height:94%;
	overflow-y:auto;
}
ul.search_results li{
	text-align:center;
	border-bottom:1px solid #C2CAD1;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
}
ul.search_results li h1{
	font-size:.9em;
}
ul.search_results li p{
	font-size:.8em;	
}
ul.search_results li p.description{
	font-size:.7em;	
}
ul.search_results li img{
	max-width:300px;
	cursor:pointer;
}
ul.search_results li h1{
	cursor:pointer;
}
ul.search_results li h1:hover{
	color:gray;
}










#site_periods_content{
	width:319px;
}
ul.site_periods{
	overflow-y:auto;
	overflow-x:hidden;
	height:96%;
	border-top:1px solid #C2CAD1;
}
ul.site_periods li.site_period{
	position:relative;
	list-style-type:none;
	border-bottom:1px solid #C2CAD1; 
	clear:both;
	padding:10px 5px 10px 5px;
}
ul.site_periods li p{
	font-size:.8em;
	padding-left:5px;
	padding-bottom:10px;
	font-weight:bold;
	float:left;

}
ul.site_periods li p span{
	font-weight:bold;
}
ul.site_periods li.selected{
	background-color:#C2CAD1; 
}
div.slider{
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	width:75%;
	height:10px;
}
a.next{
	float:right;
}
a.previous{
	float:left;
}
ul.thumbs{
	position:relative;
	height:105px;
	overflow:hidden;
	padding:0;
	clear:both;
}
ul.thumbs li{
	float:left;
	height:105px;
	width:100px;
	margin-left:5px;
	margin-right:5px;
	text-align:center;
	list-style-type:none;
}
div.image_metadata p{
	display:block;
}


hr{
	background-color:black;
}
#login {
    padding: 5px 15px 0px 0px;
    float: left;
}
#login a{
	color:#D3DCDE;
	padding:15px;
}
/* timemap styles */
#timemap {
    height: 600px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#timelinecontainer{
    width: 100%;
    height: 35%;
}
#timeline{
    width: 100%;
    height: 100%;
    font-size: 12px;
    background: #CCCCCC;
}
#mapcontainer {
    width: 100%;
    height: 65%;
}
#map {
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
/* event styles */
.timeline-event-tape {
    border-left: 1px solid #FFFFFF;
}
.timeline-event-label {
    margin-left: 2px;
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 11px;
    height: 14px;
}
div.infotitle {
	text-align:center;
	font-size:1.1em;
    font-weight:bold;
}
div.infodescription {
    width: 200px;
}
div.infodescription span{
	font-weight:bold;
}



